<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>業務報告書</title>
  <link rel="stylesheet" th:href="@{/css/reset.css}" href="../static/css/reset.css" />
  <link rel="stylesheet" th:href="@{/css/base.css}" href="../static/css/base.css" />
  <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css" />
</head>

<body>
  <!-- フラグメント化：メインコンテンツ(th:relpaceで合成するとき、div要素を残さない) -->
  <div th:fragment="main" th:remove="tag">
    <main class="main">
      <th:block th:if="${reportShow.showReportList}" th:remove="tag">
        <th:block id="reportList" th:replace="~{reportList :: reportList}" th:remove="tag"></th:block>
      </th:block>
      <th:block th:if="${reportShow.showReportCreate or reportShow.showReportUpdate}" th:remove="tag">
        <th:block id="reportForm" th:replace="~{reportForm :: reportForm}" th:remove="tag"></th:block>
      </th:block>
      <th:block th:if="${reportShow.showReportBrowse}" th:remove="tag">
        <th:block id="reportBrowse" th:replace="~{reportBrowse :: reportBrowse}" th:remove="tag"></th:block>
      </th:block>
    </main>
  </div>
  <script th:src="@{/static/js/main.js}" src="../static/js/main.js"></script>
</body>

</html>