<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{css/report.css}">
  <title>業務報告書作成</title>
</head>

<body class="userFont">
  <section id="container">
    <div>
      <h2 class="under userFont">業務報告書作成</h2>
    </div>

    <form th:action="@{/report}" method="post" th:object="${reportForm}">
      <div class="itemBox">
        <button type="submit" class="button" id="saveButton" name="write">保存</button>
        <button type="submit" class="button" id="readButton" name="read">読み込み</button>
      </div>

      <div class="itemBox">
        <div>
          <div class="headerDecorate required">対象期間(開始 - 終了)</div>
          <div>
            <input type="date" name="periodStart" id="periodStart" style="width: 45%;" th:field="*{periodStart}" />
            <span style="width: 20%;">　-　</span>
            <input type="date" name="periodEnd" id="periodEnd" style="width: 45%;" th:field="*{periodEnd}" />
          </div>
        </div>
      </div>

      <div class="itemBox">
        <div class="headerDecorate required">エンド企業名</div>
        <input type="text" placeholder="例) 株式会社XXX" th:field="*{endCompany}" />
      </div>

      <div class="itemBox">
        <div class="headerDecorate required">上位顧客名</div>
        <input type="text" placeholder="例) 株式会社XXX" th:field="*{topCompany}" />
      </div>

      <div class="itemBox">
        <div class="headerDecorate required">業種</div>
        <input type="text" placeholder="例) 外資系生命保険" th:field="*{industry}" />
      </div>

      <div class="itemBox">
        <div class="headerDecorate required">案件名</div>
        <input type="text" placeholder="例) XXXXシステムの保守開発" th:field="*{topic}" />
      </div>

      <div class="itemBox">
        <div class="headerDecorate required">エル・フィールド参画人数</div>
        <input type="number" placeholder="例) 1" th:field="*{participantPeple}" />
      </div>

      <div class="itemBox">
        <div class="headerDecorate required">職場勤務／在宅</div>
        <select th:field="*{workingStyle}">
          <option value="" th:selected="*{workingStyle == ''}">選択してください</option>
          <option value="combinedwork1" th:selected="*{workingStyle == 'combinedwork1'}">併用勤務(在宅率6割以上)</option>
          <option value="combinedwork2" th:selected="*{workingStyle == 'combinedwork2'}">併用勤務(在宅率6割未満)</option>
          <option value="onsitework" th:selected="*{workingStyle == 'onsitework'}">現場勤務</option>
          <option value="telework" th:selected="*{workingStyle == 'telework'}">在宅勤務</option>
        </select>
      </div>

      <div class="itemBox">
        <div class="headerDecorate required">職場最寄駅</div>
        <input type="text" placeholder="例) 品川" th:field="*{station}" />
      </div>

      <div class="itemBox">
        <div class="headerDecorate required">通勤時間(h)</div>
        <input type="text" placeholder="例) 1.5" th:field="*{commutingTime}" />
      </div>

      <div class="itemBox">
        <div class="headerDecorate required">案件参画日</div>
        <input type="date" th:field="*{participantDate}" />
      </div>

      <div class="itemBox">
        <div class="headerDecorate required">主要技術(言語／フレームワーク等)</div>
        <input type="text" placeholder="例) Java,SpringBoot" th:field="*{mainTechnology}" />
      </div>

      <div class="itemBox">
        <div class="headerDecorate required">データベース</div>
        <input type="text" placeholder="例) DB2" th:field="*{database}" />
      </div>

      <div class="itemBox">
        <div class="headerDecorate required">ポジション</div>
        <input type="text" placeholder="例) SE" th:field="*{position}" />
      </div>

      <th:block th:each="project, stat : *{projects}">
      <div class="itemBox">
        <div class="headerBold headerDecorate" th:text="'プロジェクト' + ${stat.count}"></div>
        <div class="itemBoxSub">
          <div th:class="${stat.count} == 1 ? 'required'">- プロジェクト名</div>
          <input type="text" placeholder="例) XXX改変対応" th:field="*{projects[__${stat.index}__].name}" />
        </div>
        <div class="itemBoxSub">
          <div th:class="${stat.count} == 1 ? 'required'">- 状況</div>
          <textarea placeholder="作業状況、課題や問題点を記載する" th:field="*{projects[__${stat.index}__].situation}" rows="10"></textarea>
        </div>
      </div>
      </th:block>
  
      <div class="itemBox">
        <div class="headerDecorate required">今後の予定</div>
        <textarea placeholder="例) 作業予定などを記載する" rows="5" th:field="*{futurePlan}"></textarea>
      </div>

      <div class="itemBox">
        <div class="headerDecorate required">顧客の動向・営業情報等</div>
        <textarea placeholder="例) ユーザ動向や増員情報などの営業情報を記載する" rows="5" th:field="*{customerTrend}"></textarea>
      </div>

      <div class="itemBox">
        <div class="headerDecorate required">健康状態</div>
        <textarea placeholder="例) 良好" rows="5" th:field="*{helthCondition}"></textarea>
      </div>

      <div class="itemBox">
        <div class="headerDecorate">上司に相談</div>
        <textarea placeholder="例) 現場での悩みや相談があれば記載する" rows="5" th:field="*{consultation}"></textarea>
      </div>

      <div class="itemBox">
        <div class="headerDecorate">その他</div>
        <textarea placeholder="例) その他伝えることがあれば記載" rows="5" th:field="*{other}"></textarea>
      </div>

      <div class="itemBox" style="text-align: center;">
        <button type="submit" class="button" id="reportButton" name="create">報告書作成</button>
      </div>

    </form>
  </section>
</body>

</html>